{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prix à l'unité</th>
            <th>Quantité</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        {% for productCart in cart %}
            {% for quantity, product in productCart %}
                <tr class="tr-{% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
                    <td>{{ product.name }}</td>
                    <td>{{ (product.price / 100)|format_currency('EUR') }}</td>
                    <td>{{ quantity }}</td>
                    <td><img src="{{ asset('./img/' ~product.img) }}" alt="image de {{ product.name }}"></td>
                    <td><a href="{{ path('app_add_cart', {redirect: 'app_cart', product: product.id, quantity: quantity, del: ""}) }}" class="btn btn-text">Enlever le produit</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="tr-odd">
                <td colspan="4">Votre panier est vide !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_validate_cart') }}" class="btn">Valider et payer le panier</a>

{% endblock %}
