{% extends 'base.html.twig' %}

{% block title %}Commande n°{{ productsOrder[0].orderId.id }}{% endblock %}

{% block body %}

    <h1>Commandes</h1>

    <a href="{{ path('app_admin_orders') }}" class="btn">Retour</a>

    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Nom du Produit</th>
                <th>Quantité</th>
                <th>Prix à l'unité</th>
                <th>Prix Total</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ productsOrder[loop.index - 1].quantity }}</td>
                    <td>{{ (product.price / 100)|format_currency('EUR') }}</td>
                    <td>{{ (productsOrder[loop.index - 1].price / 100)|format_currency('EUR') }}</td>
                </tr>
            {% endfor %}
            {% for customBox in customsBox %}
                <tr>
                    <td>Boîte customiser</td>
                    <td>{{ productsOrder[products | length + loop.index - 1].quantity }}</td>
                    <td>{{ (customBox.price / 100)|format_currency('EUR') }}</td>
                    <td>{{ (productsOrder[products | length + loop.index - 1].price / 100)|format_currency('EUR') }}</td>
                    <td><a href="{{ path('app_admin_order_detail_custom_box', {id: customBox.id}) }}" class="btn btn-text">Voir la boîte customiser</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="3">Total de la commande</td>
                <td>{{ (price / 100)|format_currency('EUR') }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}