{% extends 'base.html.twig' %}

{% block title %}Administration Gestion des Produits{% endblock %}

{% block body %}

    <a href="{{ path('app_admin') }}" class="btn">Retour au menu précédent</a>
    <h1>Gestion des produits</h1>

    <form action="{{ path('app_admin_products') }}" method="POST">
        <input type="text" name="search" id="search" placeholder="Rechercher par Nom de produit" value="{{ last_search }}">
        <button class="btn">Rechercher</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Type</th>
                <th>Disponibilité</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr class="tr-{% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
                    <td>{{ product.name }}</td>
                    <td>{{ (product.price / 100)|format_currency('EUR') }}</td>
                    <td>{{ product.productType.name }}</td>
                    <td>{% if product.availability %}Disponible{% else %}Non Disponible{% endif %}</td>
                    <td><img src="{{ asset('./img/' ~product.img) }}" alt="image de {{ product.name }}"></td>
                    <td><a href="{{ path('app_admin_product_update', {product: product.id}) }}" class="btn btn-text">Gérer le produit</a></td>
                </tr>
            {% else %}
                <tr class="tr-odd">
                    <td>Aucuns</td>
                    <td>produits</td>
                    <td>ne</td>
                    <td>correspondant !</td>
                    <td>Effectuez une nouvelle recherche !</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_product_create') }}" class="btn">Ajouter un produit</a>

    <div class="pagination">
        {% for page in range(1, pages) %}
            <a href="{{ path('app_admin_products', {'page': page}) }}" class="btn {% if page == actual_page %}disabled{% endif %}">{{ page }}</a>
        {% endfor %}
    </div>



{% endblock %}