{% extends 'base.html.twig' %}

{% block title %}Administration Gestion des Utilisateurs{% endblock %}

{% block body %}

    <a href="{{ path('app_admin') }}" class="btn">Retour au menu précédent</a>
    <h1>Gestion des utilisateurs</h1>

    <form action="{{ path('app_admin_users') }}" method="POST">
        <input type="text" name="search" id="search" placeholder="Rechercher par Nom/Prénom d'utilisateur">
        <button class="btn">Rechercher</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Est-ce vous ?</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if users|length > 0 %}
            {% for user in users %}
                <tr class="tr-{% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
                    <td>{{ user.name }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if 'ROLE_ADMIN' in user.roles %}Administrateur{% else %}Utilisateur{% endif %}</td>
                    <td>{% if app.user == user %}Ce compte est le votre !{% else %}Non{% endif %}</td>
                    <td><a href="{{ path('app_admin_users', {user: user.id}) }}" class="btn btn-text">Gérer l'utilisateur</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="tr-odd">
                <td>Personne</td>
                <td>n'as</td>
                <td>été</td>
                <td>trouver !</td>
                <td>Effectuez une nouvelle recherche !</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="pagination">
        {% for page in range(1, pages) %}
            <a href="{{ path('app_admin_users', {'page': page}) }}" class="btn {% if page == actual_page %}disabled{% endif %}">{{ page }}</a>
        {% endfor %}
    </div>



{% endblock %}