{% extends 'base.html.twig' %}

{% block title %}Gestion de {{ user.name }}{% endblock %}

{% block body %}

    <a href="{{ path('app_admin_users') }}" class="btn">Retour au menu précédent</a>
    <h1>Gestion de {{ user.name }}</h1>

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <select name="pets" id="pet-select">
                        {% for role in user.roles %}
                            <option value="{{ role }}">{{ role }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><a href="{{ path('app_admin_delete_user', {user: user.id}) }}">Supprimer l'utilisateur</a></td>
                <td>{% if app.user == user %}Ceci est vous ! {% endif %}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}