{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}

    {% for key, products in productsTypes %}
        <article>
            <h2 class="center">{{ key }}</h2>
            <div class="box-flex">
                {% for product in products %}
                    <div class="card">
                        <h3>{{ product.name }}</h3>
                        <img src="{{ asset('img/' ~product.img) }}" alt="image de {{ product.name }}">
                        <p>{{ (product.price / 100)|format_currency('EUR') }}</p>
                        <input type="number" value="1" min="1" max="20">
                        <a href="#" class="btn">Ajouter au panier !</a>
                    </div>
                {% endfor %}
            </div>
        </article>
    {% endfor %}
{% endblock %}
