{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    <div class="form-title">S'inscrire</div>

    {% if errors is not empty %}
        <div class="error">
            <ul>
                {% for key, error in errors %}
                    <li>{{ key }} : {{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="{{ path('app_register') }}" method="post">
        <div {% if errors['name'] is defined %}class="is-invalid"{% endif %}>
            <label for="name">Nom¹ :</label>
            <input type="text" id="name" name="name" value="{{ last_name }}" minlength="3" required="required" autofocus/>
        </div>
        <div {% if errors['firstName'] is defined %}class="is-invalid"{% endif %}>
            <label for="firstName">Prénom :</label>
            <input type="text" id="firstName" name="firstName" value="{{ last_firstName }}"/>
        </div>
        <div {% if errors['email'] is defined %}class="is-invalid"{% endif %}>
            <label for="email">Email¹ :</label>
            <input type="email" id="email" name="email" value="{{ last_email }}" required="required"/>
        </div>
        <div {% if errors['password'] is defined %}class="is-invalid"{% endif %}>
            <label for="password">Mot de Passe¹ :</label>
            <input type="password" id="password" name="password" required="required" minlength="3"/>
        </div>

{#        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}

        <button type="submit">S'inscrire</button>
    </form>
    <small>¹: Obligatoire</small>
    <p>Déjà inscris ? <a href="{{ path('app_login') }}">Connecte toi</a></p>
{% endblock %}
